.music-button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 3em;
  position: absolute;
  top: 3%;
  right: 2%;
  padding: 0;
  z-index: 999;
}

.music-button:hover {
  color: rgb(0, 45, 125);
}

.music-button:active {
  color: rgb(150, 188, 255);
}
