.note {
  height: 12em;
  border-radius: 10px;
  text-align: left;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  overflow: auto;
}

@media screen and (max-width: 1200px) {
  .note {
    height: 11em;
  }
}

@media screen and (max-width: 800px) {
  .note {
    height: 10em;
  }
}

.new.note {
  background-color: rgb(115, 255, 245);
}

.plus.note {
  background-color: rgba(255, 255, 204, 0.2);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgb(80, 80, 80);
  transition: 0.2s;
}

.plus.note:hover {
  background: rgba(255, 255, 204, 0.4);
  color: rgb(40, 40, 40);
}

.note-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid black;
  padding-top: 5px;
  margin-bottom: -15px;
  user-select: none;
}

.note-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 0.5em;
}

.less.note-actions {
  gap: 1em;
}

.extra-info {
  font-style: italic;
}

.note-button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.5em;
  padding: 0;
  margin-bottom: -2px;
}

.note-button:hover {
  color: rgb(150, 188, 255);
}

.note-button:active {
  color: royalblue;
}

textarea {
  border: none;
  resize: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1em;
}

textarea:focus {
  outline: none;
}

textarea.new {
  background-color: rgb(115, 255, 245);
}

.save-button {
  background-color: rgb(65, 105, 175);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 0.5em 1em;
  font-weight: bold;
}

.save-button:hover {
  background-color: rgb(150, 188, 255);
}

.save-button:active {
  color: royalblue;
}

.color-label {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background: conic-gradient(
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
}

.color-label::-webkit-color-swatch {
  display: none;
}
