.note {
  height: 12em;
  background-color: rgb(255, 255, 204);
  border-radius: 10px;
  text-align: left;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  overflow: auto;
}

.new.note {
  background-color: rgb(115, 255, 245);
}

.plus.note {
  background-color: rgba(255, 255, 204, 0.2);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgb(80, 80, 80);
  transition: 0.2s;
}

.plus.note:hover {
  background: rgba(255, 255, 204, 0.4);
  color: rgb(40, 40, 40);
}

.note-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.extra-info {
  font-style: italic;
}

.delete-button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.5em;
  padding: 0;
  margin-bottom: -2px;
}

.delete-button:hover {
  color: rgb(150, 188, 255);
}

.delete-button:active {
  color: royalblue;
}

textarea {
  border: none;
  resize: none;
  background-color: rgb(115, 255, 245);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1em;
}

textarea:focus {
  outline: none;
}

.save-button {
  background-color: rgb(65, 105, 175);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 0.5em 1em;
  font-weight: bold;
}

.save-button:hover {
  background-color: rgb(150, 188, 255);
}

.save-button:active {
  color: royalblue;
}

.color-label {
  appearance: none;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.color-label::-webkit-color-swatch {
  border-radius: 50%;
  border: 1px solid black;
}
