.container {
  position: absolute;
  display: grid;
  width: 85%;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.75em;
  bottom: 1.75em;
}

@media screen and (max-width: 1400px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5em;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.25em;
    bottom: 1.25em;
  }
}

@media screen and (max-width: 800px) {
  .container {
    grid-gap: 1em;
    bottom: 1em;
  }
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-gap: 0.75em;
    bottom: 0.75em;
  }
}

@media screen and (max-height: 840px) {
  .container {
    grid-auto-flow: row;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-height: 840px) and (max-width: 1400px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-height: 840px) and (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-height: 840px) and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}
