.quote {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  position: fixed;
  top: 3em;
  padding: 0.5em 1.5em 1.5em;
}

.text-container {
  margin: -0.5em 3em;
}

.author-container {
  margin-top: -20px;
  text-align: right;
  font-style: italic;
}

.quote-left {
  position: relative;
  font-size: 1.5em;
  margin-bottom: -1.5em;
  left: -48%;
}

.quote-right {
  position: relative;
  font-size: 1.5em;
  top: -1.5em;
  left: 48%;
}

.quote-button {
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(55, 115, 230);
  width: 10em;
  height: 3em;
  border: none;
  font-size: 1em;
  font-weight: bold;
  user-select: none;
  color: black;
}

.quote-button:hover {
  background-color: rgb(0, 45, 125);
  color: grey;
}

.quote-button:active {
  background-color: rgb(150, 188, 255);
  color: black;
}

@media screen and (max-width: 1400px) {
  .quote {
    width: 60%;
  }
  h2 {
    font-size: 1.4em;
  }
  .quote-left {
    font-size: 1.25em;
  }
  .quote-right {
    font-size: 1.25em;
  }
  .quote-button {
    margin-top: 0.5em;
  }
}

@media screen and (max-width: 1200px) {
  .quote {
    width: 65%;
  }
  h2 {
    font-size: 1.3em;
  }
  h4 {
    font-size: 0.9em;
  }
  .text-container {
    margin: 0 2em;
  }
  .quote-button {
    margin-top: 1em;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 800px) {
  h2 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 600px) {
  .quote {
    top: 2em;
  }
  h2 {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 480px) {
  .quote {
    padding: 0 1em 1em;
  }
  h2 {
    font-size: 1em;
  }
  .quote-left {
    font-size: 1em;
  }
  .quote-right {
    font-size: 1em;
  }
  .text-container {
    margin: 0 1em;
  }
}
