.App {
  height: 100vh;
  background: url(./motivation-background.jpg);
  background-size: cover;
  background-position: center 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
