.App {
  height: 100vh;
  background: url(./motivation-background.jpg);
  background-size: cover;
  background-position: center 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .App {
    background-position: 30% top;
  }
}

@media screen and (max-width: 480px) {
  .App {
    background-position: left top;
  }
}
